* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.calculator {
    border: 1px solid white;
    background-color: black;
    color: white;
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.buttons button {
    background-color: darkblue;
    border: none;
    font-size: 6rem;
    width: 8.6rem;
    padding: 0.3rem;
}

.calculator #result {
    height: 20rem;
    font-size: 2.5rem;
    text-align: end;
    background-color: black;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
}

.calculator textarea,
.calculator button {
  color: white;
}